{{extend ("./parent.html")}} {{#block ("body")}}
<div class="panel panel-default">
    <div class="panel-heading">
        <ol class="breadcrumb">
            <li><a href="#">首页</a></li>
            <li><a href="#">学生管理</a></li>
            <li class="active">学生列表</li>
        </ol>
    </div>
    <div class="panel-heading">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">学生姓名</span>
            <input type="text" class="form-control" id="studentNameId" placeholder="请输入学生姓名进行查询" aria-describedby="basic-addon1" style="width:200px;margin-right:10px;"
                value="{{keyword}}">
            <input type="button" class="btn btn-success" onclick='search()' value="查找" style="margin-right:10px;">
            <input type="button" class="btn btn-success" value="新增" onclick="window.location.href='/studentmanager/add'">
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>性别</th>
                    <th>手机号码</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                {{#each(students)}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.age}}</td>
                    <td>{{this.gender}}</td>
                    <td>{{this.phone}}</td>
                    <td>
                        <a href="/studentmanager/edit/{{this._id}}" class="btn btn-success">编辑</a> |

                        <input type="button" onclick="deleteStudent('{{this._id}}')" class="btn btn-danger" value="删除">
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script>
    /**
     * 搜索
     */
    function search() {
        var keyword = $("#studentNameId").val()

        //发送请求
        window.location.href = '/studentmanager/list?keyword=' + keyword
    }

    /**
     * 删除
     */
    function deleteStudent(_id) {
        if (confirm("确认删除吗?")) {
            window.location.href = '/studentmanager/delete/' + _id
        }
    }
</script>
{{/block}}